.container-devfest-content
  max-width: 1200px
  margin: 0 auto
  padding: 5rem 0 3rem 0

.devfest-content
  padding: 0 7rem

.devfest-content__desc
  font-size: 1.9rem
  max-width: 80%
  color: $color-blue-strong
  //background-image: url(../img/texturatexto.png)
  //-webkit-background-clip: text


.suscribe

.suscribe__input-text,
.suscribe__submit
  max-width: 20rem
  width: 35%
  padding: 0.5rem
  border-radius: 0.2rem
  font-size: 1.9rem
  padding: 1rem 0


.suscribe__input-text
  max-width: 30rem
  width: 48%
  border: 1px solid gray
  color: gray

.suscribe__submit
  border: none
  background-color: $color-blue-strong
  color: $color-yellow

.suscribe-info
  font-size: 1.9rem
  color: $color-blue-strong

.suscribe-info__email
  color: $color-orange
  display: inline-block
  position: relative
  text-decoration: none

  &:after
    content: '\e601'
    font-family: icomoon
    display: inline-block
    margin-left: 1rem
    font-size: 0.8rem
    position: absolute
    top: 0.8rem

text
  fill: url(#texture)
