.footer
  display: table-row
  background-color: $color-blue-strong
  width: 100%
  max-width: 1200px
  margin: 0 auto
  color: $color-blue-light

.container-elements-footer
  padding: 0 7rem
  max-width: 1200px
  font-weight: bold
  @media (max-width: 650px)
    padding: 0 2rem
  @media (max-width: 460px)
    padding: 0 1rem

.footer__text-all
  display: flex
  max-width: calc(1200px - 14rem)
  margin: auto
  align-items: baseline
  letter-spacing: 1px

.footer__support,
.footer__follow-us
  display: inline-block

.footer__support
  width: 50%
  line-height: 1.7

.footer__follow-us
  text-align: right
  width: 48%
  position: relative
  @media (max-width: 480px)
    margin-top: 2.5rem
  a
    color: inherit
    text-decoration: none
  &:before
    content: '\e603'
    font-family: icomoon
    color: white
    position: absolute
    top: 0.1rem
    right: 13rem
    @media (max-width: 480px)
      top: -1.5rem
      right: calc(50% - 1rem)

.ride-logo,
.rutan-logo
  display: inline-block
  margin-left: 0.4rem
  margin-right: 0.4rem

  &:before
    content: "\e600"
    font-family: icomoon
    color: white
    font-size: 1.5rem

.rutan-logo
  vertical-align: sub


@media screen and (max-width: 770px)
  .footer__text-all
    flex-direction: column
    align-items: center
    text-align: center

  .footer__follow-us,
  .footer__support
    width: auto
